/*this is body selector
set background color to grey-redish color
set foreground (text) to light contrast color
these inputs affect the entire webpage  */
body{
    background-color: rgb(107, 89, 89);
    color:honeydew;
}

/*
    this is the nav selector. anything between the 
    <nav>, </nav> tags will be affected 
*/
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

#memeImage{
    margin-right: 200px;
}


/*
    this is the footer selector. footer will be 
    bottom at the page
*/
footer{
    text-align: center;
    margin-right: 200px;

}

/* anything in the header tags will be affected by this style*/
header{
    text-align: center;
}